#heading{
  font-size:20px;
  text-align:center;
  color:rgb(70, 21, 9);
  font-weight:bold;
}
nav{
  padding:2px
}
nav a{
  color:rgb(70, 21, 9);
  font-family:fantasy;
  margin:0 10px 0 10px;
  display:inline-block;
  width:75%;
  text-align:center;
  font-size:14pt;
  text-decoration:none;
}

nav a:hover{
  border-bottom: 2px solid rgb(0, 0, 0);
}

.container{
  display:flex
}

body{
  background-image: url("Indiaback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

.container{
  display:flex;
}

.container div{
  flex:1;
}

.container div{
  font-family:Cambria;
  font-size:25px;
}

* {
  box-sizing: border-box;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: white; 
  padding: 20px; 
}

