.header{
  font-size:50px;
  font-family:'Lucida Handwriting', cursive;
  text-align: center; 
  background-color:rgb(11, 82, 46);
  color: white; 
  font-weight:bold;
}

.header:hover{
  transform: scale(1.5);
  transition: transform 2s;
}

.header h1 {
  font-size: 50px;
}

nav{
  padding:2px
}
nav a{
  color:rgb(3, 3, 0);
  font-family:fantasy;
  margin:0 10px 0 10px;
  display:inline-block;
  width:75%;
  text-align:center;
  font-size:14pt;
  text-decoration:none;
}

nav a:hover{
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size:18pt;
}

.container{
  display:flex
}

body{
  background-image: url("Indiaback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

.container{
  display:flex;
}

.container div{
  flex:1;
}

.container div{
  font-family:Cambria;
  font-size:25px;
}

* {
  box-sizing: border-box;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 10%;
  background-color: #ffffff;
  padding: 10px;
}

.main {
  flex: 25%;
  background-color: white; 
  padding: 10px; 
}

.flagcontainer{
  display:flex;
}
